@charset "utf-8";
.azukish {
	margin: auto;
	background-color: #2B00BF;
	position: relative;
	text-align: center;
}

.azukish img {
	width: 25%;
	animation-name: azukish;
	-webkit-animation-name: azukish;
	animation-duration: 20s;
	-webkit-animation-duration: 20s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	opacity: 0;
}

.azukish .img1 {
	display: block;
	margin: 0 auto;
}

.azukish .img2 {
	animation-delay:10s;
	-webkit-animation-delay:10s;
	position: absolute;
	top: 0;
	left: 37.5%;
}

@keyframes azukish {
	0% {
		opacity: 0;
	}
	
	5% {
		opacity: 1;
	}

	45% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes azukish {
	0% {
		opacity: 0;
	}
	
	5% {
		opacity: 1;
	}

	45% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
